<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>Upload History</h1>

    <th>Action</th>

    <table>
        <tr>
            <th>No</th>
            <th>File Name</th>
            <th>Total Rows</th>
            <th>Total Columns</th>
            <th>Upload Time</th>
        </tr>

        {% for row in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>

        <td>
    <a href="/delete/{{ row[0] }}" style="color: red; font-size: 18px; text-decoration: none;">
    🗑️
</a>
</td>

        {% endfor %}
    </table>

    <a href="/" class="back">⬅ Back to Home</a>

</div>

</body>
</html>